#=============================================================
# Eclipse files
#=============================================================
.settings/
.buildpath
.project

#=============================================================
# Build
#=============================================================
docs/_build/
